@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,600;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins",sans-serif;
}
:root{
    --color-text:#1B2430;
    --color-back:#ffffff;
    --color-wite:#fdfdfd;
    --color-black:#1B2430;
    --color-Pea :#eee8aa;
    --color-green:#5FD068;
    --color-red:rgb(248, 18, 18);
    --color-blue:rgb(119, 139, 255);
    --main-shadow :0 0 5px 5px rgba(0, 0, 0, 0.4);
}

body{
    min-height: 100vh;
    overflow-x: hidden;
}
body.dark{
    --color-back:#0a0a0a;
    --color-text:#ebebeb;
    --main-shadow :0 0 5px 5px rgba(255, 255, 255, 0.4);
    background-color: #1B2430;
}
#mood{
    position: fixed;
    font-size: 2.5rem;
    padding: 10px;
    cursor: pointer;
    color: var(--color-text);
    z-index: 2000;
}
/* Style For Header */
/* ***************************************************************** */
/* ***************************************************************** */
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 10vh;
    padding: 10px 5px;
    background-color: var(--color-back);
    color: var(--color-text);
}
header i{
    color:var(--color-text);
    margin: 0 5px;
    font-size: 1.3rem;
    cursor: pointer;
}
.bx-heart.like{
   color:var(--color-red);
}
.social-icons i{
    border: 1px solid var(--color-text);
    padding: 2px;
    border-radius: 50%;
    transition: all .3s ease-in;
    color: var(--color-text);
}
.social-icons i:hover{
    background-color: var(--color-blue);
    color: var(--color-text);
    border-color: transparent;
}
/* Style For Navbar */
/* ***************************************************************** */
/* ***************************************************************** */
nav{
    width: 100%;
    background-color: var(--color-Pea);
    height: 8vh;
}
.menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.menu-container a{
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--color-black);
    margin: 10px;
    padding:3px 5px;
    transition: all .5s ease-in-out;
    border-radius: 32px;
}
.menu-container a:hover{
    background-color:var(--color-black);
    color: var(--color-wite);
}
.menu-icon{
    display: none;
}
/* Style For Landing Page */
/* ***************************************************************** */
/* ***************************************************************** */
.landing-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    top:18vh;
    height:calc(100vh - 18vh);
    width: 100%;
    background: url(../images/background.png) center fixed no-repeat ;
    background-size: cover;
}
.landing-page .landing-title{
font-size: 2.5rem;
padding-left: 1.3rem;
}
.landing-page .landing-desc{
    font-size: 1.2rem;
    padding-left: 1.3rem;
}
.landing-page .landing-btn{
    margin-left:1.3rem ;
    margin-top: 1rem;
    padding: 2px 20px;
    background-color: transparent;
    font-size: 1rem;
    border: 2px solid var(--color-black);
    cursor: pointer;
    transition: all .4s ease-in;
}
.landing-page .landing-btn:hover{
    background-color: var(--color-green);
    border-color: transparent;
}
/* Style For Servises Section */
/* ***************************************************************** */
/* ***************************************************************** */

.servise-container,.treandly-container,.about-container{
width: 100%;
min-height: 100vh;
}
.section-title{
    height: 12vh;
    padding: 20px;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--color-text);
}
.servise-container .servises,
.servise-container .offers,
.treandly-container .products,
.about-container .about{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin:auto;
    max-width: 1300px;
    min-height: calc(100vh - 14vh);
}
.servises .card-servise{
    width:90%;
    max-width:350px;
    height: 60vh;
    margin:15px 10px;
    box-shadow: var(--main-shadow);
    color: var(--color-text);
}
.card-servise .card-image{
    width: 100%;
    height: 40%;
    overflow: hidden;
}
.card-image img{
    position: relative;
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;
    cursor: zoom-in;
}
.card-image img:hover{
    transform: scale(1.4);
}
.card-servise .card-title{
    text-align: center;
    text-transform: uppercase;
    padding: .5rem;
}
.card-servise .card-desc{
    width: 100%;
    height: 35%;
}
.card-servise .card-desc-text{
    text-align: center;
    padding: 0 5px;
}
.card-servise .card-btn{
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 2px auto;
    width: 100%;
    max-width: 100px;
    padding: 2px; 
    border:  2px solid var(--color-text);
    color: var(--color-text);
    transition: all .4s ease-in-out;
}
.card-servise .card-btn:hover,
.offer-card-text .offer-card-btn:hover,
.product-desc .product-btn:hover,
.about .about-btn:hover{
    background-color: var(--color-Pea);
    color: var(--color-back);
}
/* Style For Offer Cards */
/* ***************************************************************** */
/* ***************************************************************** */
.offers .offer-card{
    position: relative;
    width: 90%;
    max-width: 400px;
    height: 40vh;
    border: 2px solid #8a9bb3;
    box-shadow: var(--main-shadow);
    margin: 15px 10px;
    transition: all .5s ease-in;
    transform: scale(.9);
}
.offers .offer-card-image{
    width: 100%;
    height: 100%;
}
.offer-card-image img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.offers .offer-card:hover{
    top: -15px;
    transform: scale(1);
    z-index: 30;
}
.offers .offer-card-text{
    position: absolute;
    top: 0;
    padding: 15px 20px;
}
.offer-card-text .offer-card-title{
    text-transform: capitalize;
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.offer-card-text .offer-card-desc{
    font-size: 1.1rem;
    margin-bottom: 5px;
}
.offer-card-text .offer-card-btn,
.product-desc .product-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: capitalize;
    width: 100%;
    max-width: 100px;
    border:  2px solid var(--color-text);
    color: var(--color-text);
    transition: all .4s ease-in-out; 
    padding: 2px; 
}
.offer-card .offer-card-btn{
    border:  2px solid var(--color-black);
    color: var(--color-black);
}
/* Style For Treandly Products */
/* ***************************************************************** */
/* ***************************************************************** */
.products .product{
    max-width: 290px;
    height: 70vh;
    margin:20px 10px;
    box-shadow: var(--main-shadow);
    color: var(--color-text);
}
.product .product-img{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 45vh;
    border-bottom: 1px solid var(--color-text);
    box-shadow: var(--main-shadow);
}
.product-img img{
    width: 100%;
}
.product .product-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 25vh;
}
.product-title{
    text-transform:capitalize;
    letter-spacing: .5px;
}
/* Style For About Section */
/* ***************************************************************** */
/* ***************************************************************** */
.about{
    color: var(--color-text);
}
.about-desc,.about-image{
    width: 45%;
}
.about-image img{
    width: 100%;
}
.about-desc .about-text{
    text-align: justify;
}
.about .about-btn{
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--color-text);
    margin-top: 10px;
    padding: 2px 15px;
    border: 2px solid var(--color-text);
}
/* Style For Footer */
/* ***************************************************************** */
/* ***************************************************************** */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:15px 0;
    width: 100%;
    background-color: var(--color-black);
    color: var(--color-wite);
}
footer .footer-title{
    font-size: 1.7rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 2px;
}
footer .footer-desc{
    font-size: 1.1rem;
    margin-bottom: 4px;
}
footer .socials i{
    font-size: 1.6rem;
    padding: 5px;
    margin: 10px 5px;
    color: var(--color-wite);
    transition: color .4s ease-in-out;
}
footer .socials i:hover{
    color: var(--color-blue);
}
.copyright{
 padding:10px 5px;
 font-size: 1rem;
}
.copyright span,strong{
    text-transform: capitalize;
}
footer .designed{
    text-transform: capitalize;
}
footer .designed a{
    text-decoration: none;
    color: var(--color-green);
}
/* Style For Responsive */
/* ***************************************************************** */
/* ***************************************************************** */

@media(max-width:960px){
    .about-image,.about-desc{
        width: 90%;
        height: 100%;
        margin: 10px auto;
    }
}
@media(max-width:700px){
    #mood{
        right: 0;
        top:120px;
        z-index: 900;
    }
    header i{
        margin: 0 1px;
        font-size: 1.5rem;
    }
    .menu-icon{
        display: inline-block;
        padding: 10px;
        font-size: 1.8rem;
        cursor: pointer;
    }
    .menu-container{
        display: none;
    }
    .menu-container.active{
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        top:0;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        background-color: var(--color-Pea);
        z-index: 1000;
    }
    .menu-container a{
        padding: 8px;
    }
    footer .footer-desc{
        font-size: .9rem;
        margin-bottom: 0px;
    }
}